/* ===========================
   TABLETS
=========================== */

@media (max-width: 992px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text,
    .hero-image{
        width:100%;
    }

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about-text,
    .about-image{
        width:100%;
    }

    .product-container{
        grid-template-columns:repeat(2,1fr);
    }

    .review-container{
        flex-wrap:wrap;
    }

    .review-card{
        width:45%;
    }

    form,
    .contact-box{
        width:80%;
    }

}


/* ===========================
   PHONES
=========================== */

@media (max-width:768px){

    nav ul{
        flex-direction:column;
        align-items:center;
        gap:15px;
    }

    .hero{
        padding:30px;
    }

    .hero h1{
        font-size:32px;
    }

    .hero p{
        font-size:16px;
    }

    .products,
    .about,
    .contact,
    .reviews,
    .shop{
        padding:30px 20px;
    }

    .product-container{
        grid-template-columns:1fr;
    }

    .review-card{
        width:100%;
    }

    form,
    .contact-box{
        width:100%;
    }

}


/* ===========================
   SMALL PHONES
=========================== */

@media (max-width:480px){

    nav h2{
        font-size:22px;
    }

    .hero h1{
        font-size:28px;
    }

    .products h2,
    .about h2,
    .shop h1,
    .reviews h1,
    .contact h1{
        font-size:28px;
    }

    .btn{
        display:inline-block;
        width:100%;
    }

}